{% extends 'base.html' %}


{% block content %}
<div class="row">
    {% for movie in movies %}
        <div class="col-4">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ movie.poster_path }}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <p class="card-text"><a class="text-decoration-none" href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
