{% extends 'base.html' %}

{% block content %}
<form action="{% url 'movies:create' %}" method="POST">  <!--이건 부투스트랩에서 가져옴-->
  {% csrf_token %}
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" id="title" maxlength=100>
  </div>
  <div class="mb-3">
    <label for="overview" class="form-label">overview</label>
    <textarea name="overview" id="overview" class="form-control"></textarea>
  </div>
  <div class="mb-3">
    <label for="poster_path" class="form-label">poster_path</label>
    <input type="text" class="form-control" name="poster_path" id="poster_path" maxlength=500>
  </div>
  <button type="submit" class="btn btn-primary">작성</button>
</form>
{% endblock %}
